.App {
  text-align: center;
}

body {
  background: linear-gradient(45deg, white, 10%, gray, black);
}

.smash-banner {
  width: 100vw;
  height: 35vh;
  clip-path: inset(0 0 25px 0);
}
.headerText {
  margin-top: 0;
}
.smashBall {
  height: 5vh;
  width: auto;
}

.firstRowParent {
  display: flex;
  flex-direction: row;
}

.stats {
  width: 50vw;
  height: 25vh;
  /* background: green; */
  border: 3px solid black;
}
.wins {
  margin: 2.5vh 0 2.5vh 0;
}
.wins-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: -15px;
}
.addChar {
  width: 50vw;
  height: 25vh;
  /* background: blue; */
  border: 3px solid black;
}
.portrait-img {
  height: 18vh;
  width: auto;
}
.full-char-img {
  height: 55vh;
  width: auto;
}
.test {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  justify-content: space-evenly;
  align-items: center;
}
.char-box {
  border: 2px solid black;
}